<%- include('../partials/header') %>


<center>
    <br>
    <h1>
        Tira los dados
    </h1>
    <div style="width: 90%;text-align: left;">
        <strong>Por cada combinación de dados hay un premio:</strong> A continuación encontrarás la tabla correspondiente a cada uno de los premios.
    </div>
    <br>
    <br>
    <iframe src="/juegos/tira-los-dados-tabla" frameborder="0" scrolling="no" style="width: min(90%,520px);aspect-ratio: 1 / 1;"></iframe>
    <br>
    <a target="_blank" href="/juegos/tira-los-dados-tabla" class="dunkin boton boton-menu" style="color: deeppink !important;">
        Abrir Tabla
    </a>
</center>

<%- include('../partials/footer') %>